---
name: Test nornir_netmiko
on: [push, pull_request]

jobs:
  linters:
    name: linters
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.0

      - name: Install Poetry
        uses: snok/install-poetry@v1.2.0
        with:
          version: 1.1.8
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install the library itself
        run: poetry install --no-interaction

      - name: Inspecting things
        run: |
          source .venv/bin/activate
          echo $PATH
          pwd
          which python
          pip list

      - name: Run black
        run: |
          source .venv/bin/activate
          black --check .

      - name: Run linter
        run: |
          source .venv/bin/activate
          pylama .

      - name: Run mypy
        run: |
          source .venv/bin/activate
          mypy ./nornir_netmiko/
